*{
    margin: 0;
    padding: 0;
}

footer{
    border-top: 2px solid #CCC;
    background-color: black;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.textogeral{
    color: white;

}

.textocentro{
    text-align: center;
}

.centro{
    width: 1000px;
    margin: auto;
}

.tamanhologo{
    max-width: 100px;
    max-height: 100px;
}

body{
    background-color: black;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid .coluna img{
    width: 100%;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
}

a{
    text-decoration: none;
}