/*Mobile*/
/* @media (max-width: 719px) { */
    /* mostrar o menu normal */
    .header .header-nav {
        display: block;
    }

    /* jogar o menu pra direita */
    .header .header-nav {
        display: block;
        float: right;
        margin-top: 15px;
    }

    /* aparecer um item ao lado do outro */
    .header .header-nav ul li {
        display: inline-block;
    }

    .flex {
        text-align: left;
        display: flex;
        width: 1000px;
        margin: auto;
    }

    .container {
        width: 1000px;
        margin: 50px auto;
    }

    .nav-list a {
        font-size: 50px;
        color: #ffffff;
        padding-block: 18px;
    }
    .icone{
        max-width: 20%;
        max-height: 20%;
    }
    
    *{
        margin: 0;
        padding: 0;
    }
    
    footer{
        background-color: black;
        width: 100%;
        text-align: center;
        bottom: 0;
    }
    
    .textogeral{
        color: rgb(0, 0, 0);
        font-family:sans-serif,arial;
    }
    
    .textocentro{
        text-align: center;
    }
    
    .tamanhologo{
        max-width: 100px;
        max-height: 100px;
    }
    
    body{
        background-color: rgb(255, 255, 255);
    }
    
    .cartaz{
        padding-top: 10px;
        margin: auto;
        display: block;
        max-width: 800px;
        max-height: 800px;
    }
    
    .centro{
        width: 1000px;
        margin: auto;
    }
    
    .grid{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .grid .coluna img{
        width: 100%;
    }
    
    .grid .coluna p{
        margin: 15px;
        text-align: center;
    }
    
    .nav {
        background-color: #000;
        max-width: 1280px;
        height: 70px;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 35px;
        padding-right: 35px ;
        box-shadow: 2px 2px 9px gray;
    }
    
    .nav-list {
        display: flex;
        gap: 32px;
        list-style: none;
    }

    .nav-list a {
        font-size: 50px;
        color: #ffffff;
        padding-block: 18px;
    }

    a{
        text-decoration: none;
    }
    
    .textobranco{
        color: rgb(255, 255, 255);
        font-family:sans-serif,arial;   
    }
    
    .personagens{
        max-width: 50% ;
        max-height: 100% ;
    }

    .introducao{
        margin-left: 25%;
        text-align: center;
        width: 50%;
    }

    .jogocentro {
        display: none !important;
        opacity: 0;
    }

/* } */

/*Computador*/
@media (min-width: 720px) {

    *{
        margin: 0;
        padding: 0;
    }

    .header .header-nav {
        float: right;
        margin-top: 15px;
    }
    
    footer{
        background-color: black;
        width: 100%;
        text-align: center;
        bottom: 0;
    }
    
    .textogeral{
        color: rgb(0, 0, 0);
        font-family:sans-serif,arial;
    }
    
    .textocentro{
        text-align: center;
    }
    
    video{
        width: 100px;
        height: auto;
    }
    
    .tamanhologo{
        max-width: 100px;
        max-height: 100px;
    }
    
    body{
        background-color: rgb(255, 255, 255);
    }
    
    .cartaz{
        padding-top: 10px;
        margin: auto;
        display: block;
        max-width: 800px;
        max-height: 800px;
    }
    
    .centro{
        width: 1000px;
        margin: auto;
    }
    
    .grid{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .grid .coluna img{
        width: 100%;
    }
    
    .grid .coluna p{
        margin: 15px;
        text-align: center;
    }
    
    .nav {
        background-color: #000;
        max-width: 1280px;
        height: 70px;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 35px;
        padding-right: 35px ;
        box-shadow: 2px 2px 9px gray;
    }
    
    .nav-list {
        display: flex;
        gap: 32px;
        list-style: none;
    }
    
    .nav-list a {
        font-size: 22px;
        color: #ffffff;
        padding-block: 18px;
    }
    
    a{
        text-decoration: none;
    }
    
    .icone{
        max-width: 8%;
        max-height: 8%;
    }
    
    .textobranco{
        color: rgb(255, 255, 255);
        font-family:sans-serif,arial;   
    }
    
    .personagens{
        max-width: 50% ;
        max-height: 100% ;
    }
    .introducao{
        margin-left: 25%;
        text-align: center;
        width: 50%;
    }

    .jogocentro{
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 75px;
        margin-right: 10px;
    }
}